@model IEnumerable<THE_SPOT.Models.CoffeeDeptPR>
@{
    ViewData["Title"] = "PurchaseHistory";
}

<h4 class="text-center text-bold">COFFEE DEPARTMENT PURCHASE REQUESTS STATUS</h4>
<br />
<div class="form-actions no-color">
    <p>
        Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" class="btn btn-default" /> |
        <a asp-action="Index">Back to Full List</a>
    </p>
</div>
<div class="container p-3 text-md-center text-bold">
    <a class="nav-link" href="javascript:window.print()">
        <span class="tf-icons bx bx-printer me-2"></span>
        Click here to print report.
    </a>
    <div class="row pt-4">
        <div class="col-6"></div>
    </div>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        QTY
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Item Price
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Request Status
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var coffeeDeptPR in Model)
                {
                    <tr>
                        <td width="30%">@coffeeDeptPR.qty</td>
                        <td width="30%">@coffeeDeptPR.description</td>
                        <td width="30%">@coffeeDeptPR.itemPrice</td>
                        <td width="30%">@coffeeDeptPR.date</td>
                        <td width="30%">@coffeeDeptPR.PRstatus</td>
                        <td width="30%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="DeptEmployee" asp-action="CoffeeDelete" asp-route-ID="@coffeeDeptPR.ID"><img src="~/Images/img_275375.png" width="25" /></a><pre></pre>
                                <a asp-controller="DeptEmployee" asp-action="TeaUpdate" asp-route-ID="@coffeeDeptPR.ID"><img src="~/Images/edit.png" width="25" /></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No assignment has been added yet.</p>
    }
    <div class="col-7 text-right">
        <a asp-controller="TutorAssign2" asp-action="Create" class="btn btn-outline-warning">Add Assignment</a>
        <button type="submit" class="btn btn-md btn-outline-danger" onclick="location.href = '@Url.Action("Index","TutorAssign")'">BACK</button>
    </div>
</div>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
