@using static THE_SPOT.Models.MugsDeptPR
@model THE_SPOT.Models.MugsDeptPR
@{
    ViewData["Title"] = "PurchaseRequest";
}

<div style="text-align:center">
    <img src="~/Images/transparentLogo.png" width="150" />
</div>
<h5 class="text-bold text-dark" style="text-align:center">CREATE PURCHASE REQUEST</h5>

<form method="post" asp-action="MugsCreate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row"></div>
    @using (Html.BeginForm("Create", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-outline mb-4">
            <label class="form-label" for="form3Example">Iteam Quantity</label>
            <input asp-for="qty" type="text" id="form3Example1cg" class="form-control form-control-lg" />
            @Html.ValidationSummary(true, "", new{@class = "text-danger"})
            @Html.ValidationMessageFor(model => model.qty, "", new {@class = "text-danger"})
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="form3Example">Date</label>
            <input asp-for="date" type="text" id="form3Example1cg" class="form-control form-control-lg" />
            @Html.ValidationSummary(true, "", new{@class = "text-danger"})
            @Html.ValidationMessageFor(model => model.date, "", new {@class = "text-danger"})
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="form3Example">Item Description</label>
            <input asp-for="description" type="text" id="form3Example1cg" class="form-control form-control-lg" />
            @Html.ValidationSummary(true, "", new{@class = "text-danger"})
            @Html.ValidationMessageFor(model => model.description, "", new {@class = "text-danger"})
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="form3Example1cg" style="width:1000px">Item Price</label>
            <input asp-for="itemPrice" type="text" id="form3Example1cg" class="form-control form-control-lg" />
            @Html.ValidationSummary(true, "", new{@class = "text-danger"})
            @Html.ValidationMessageFor(model => model.itemPrice, "", new {@class = "text-danger"})
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="form3Example">Total</label>
            <input asp-for="total" type="text" id="form3Example1cg" class="form-control form-control-lg" />
            @Html.ValidationSummary(true, "", new{@class = "text-danger"})
            @Html.ValidationMessageFor(model => model.total, "", new {@class = "text-danger"})
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="form3Example1cg" style="width:1000px">Request Status</label>
            <input asp-for="status" type="text" id="form3Example1cg" class="form-control form-control-lg" />
            @Html.ValidationSummary(true, "", new{@class = "text-danger"})
            @Html.ValidationMessageFor(model => model.status, "", new {@class = "text-danger"})
        </div>

        <div class="text-lg-center">
            <input type="submit" class="btn btn-md btn-outline-dark" value="CREATE" />
            <button type="button" class="btn btn-md btn-outline-danger" onclick="location.href = '@Url.Action("Index","TutorAssign")'">BACK</button>
        </div>
    }
</form>
