@using static THE_SPOT.Models.TeaDeptPR
@model THE_SPOT.Models.TeaDeptPR
@using static THE_SPOT.Controllers.DeptEmployeeController

@{
    ViewData["Title"] = "PurchaseRequest";
}

<div style="text-align:center">
    <img src="~/Images/transparentLogo.png" width="150" />
</div>
<h5 class="text-bold text-dark" style="text-align:center">CREATE PURCHASE REQUEST FOR TEA DEPARTMENT</h5>

<form method="post" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row"></div>

    @using (Html.BeginForm("Create", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-outline mb-4">
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" style="width:1000px" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="date" class="text-danger"></span>
                @Html.ValidationSummary(true, "", new{@class = "text-danger"})
                @Html.ValidationMessageFor(model => model.date, "", new {@class = "text-danger"})
            </div>
            <script>
                $(document).ready(function () {
                    $(".datepicker").datepicker({
                        dateFormat: "dd-mm-yy",
                        changemonth: true,
                        changeyear: true
                                                                                                        showOn: "button",
                        buttonText: '<span class="glyphicon glyphicon-calender"></span>'
                                                                                                        minDate: new Date()
                    });
                });
            </script>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="form3Example">Iteam Quantity</label>
            <input asp-for="qty" type="text" id="form3Example1cg" class="form-control" />
            @Html.ValidationSummary(true, "", new{@class = "text-danger"})
            @Html.ValidationMessageFor(model => model.qty, "", new {@class = "text-danger"})
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="form3Example">Item Description</label>
            <input asp-for="description" type="text" id="form3Example1cg" class="form-control" />
            @Html.ValidationSummary(true, "", new{@class = "text-danger"})
            @Html.ValidationMessageFor(model => model.description, "", new {@class = "text-danger"})
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="form3Example1cg" style="width:1000px">Item Price</label>
            <input asp-for="itemPrice" type="text" id="form3Example1cg" class="form-control" />
            @Html.ValidationSummary(true, "", new{@class = "text-danger"})
            @Html.ValidationMessageFor(model => model.itemPrice, "", new {@class = "text-danger"})
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="form3Example1cg" style="width:1000px">Purchase Request Status</label>
            @Html.DropDownListFor(m=> m.PRstatus, new SelectList(Enum.GetValues(typeof(status))),"Select status", new {@class="form-control"})
        </div>
      
        <div class="text-lg-center">
            <input type="submit" class="btn btn-md btn-outline-dark" value="CREATE" />
            <button type="button" class="btn btn-md btn-outline-dark" onclick="location.href = '@Url.Action("Index","TeaDeptPR")'">VIEW REQUEST STATUS</button>
            <button type="button" class="btn btn-md btn-outline-danger" onclick="location.href = '@Url.Action("PRDepartments","DeptEmployee")'">BACK</button>
        </div>
    }
</form>
